

@media (max-width: 320px) {
    #header-container {
        padding: 0px;
    }
    #logo {
        margin: 0px;
    }
}

@media (max-width: 428px) {
    #header-center-container {
        margin-left: 0px;
    }
    #mic-button, #notification-button {
        display: none;
    }
}

@media (max-width: 656px) {
    #header-center-container { 
        justify-content: end;
        gap: 0px;
    }

    #searchbar-container {
        display: none;
    }

    #header-end {
        width: max-content;
        min-width: max-content;
    }

    #header-end-container {
        gap: 0px;
    }
}

@media (min-width: 656px) {
    div[display = 'none'] {
        display: flex;
    }
    #search-button-small-screen {
        display: none;
    }
    
}

@media (max-width: 700px) {
    #main {
        grid-template-columns: 1fr !important;
    }
}


@media (max-width: 1096px) {
    #main {
        grid-template-columns: 1fr 1fr;
    }

    #sidebar {
        display: none;
    }
    .sidebar-space {
        width: var(--mini-sidbar-width) !important;
    }

    #mini-sidebar {
        visibility: visible !important;
    }
}

@media (min-width: 1590px) {
    #main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}