#under-header {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: scroll;
    margin-top: 56px;
    position: relative;
}

#sidebar-wrapper {
    /* background-color: #8d1111; */
    position: sticky;
    top: 0px;
    width: max-content;
    height: auto;
    overflow-y: scroll;
}

#main-container {
    /* background-color: #7368d76f; */
    position: relative;
    margin-left: 240px;
    margin-top: 56px;
    flex: 1;
    overflow-y: scroll;
}